[Unit]
Description=RingNotify

[Service]
ExecStart=/home/pi/ringNotify/RingNotify
Restart=always
WorkingDirectory=/home/pi/ringNotify
WatchdogSec=30s

[Install]
WantedBy=default.target
